            /************************************/
            /*                                  */
            /* -------- Sitewide styles ------- */
            /*                                  */
            /************************************/

/* ---------- general styles ------------ */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Aldrich&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Coda:wght@400;800&family=Electrolize&family=Fira+Code:wght@300..700&family=Jura:wght@300..700&family=Orbitron:wght@400..900&family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Tektur:wdth,wght@75..100,400..900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');
/* Consider 'Tektur' or 'Orbitron' as heading font, consolas (VS Code default & Microsoft pre-install) as body font with 'Source Code Pro' (close match to consolas) or 'Cascadia Code' (new VS Code default & Google Fonts) as backup for non-windows systems, sans-serif as generic family */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'consolas', 'Source Code Pro', sans-serif;
    background-color: #000;
    color: #fff;
}

body a {
    color: #fff;
    font-weight: 700;
    text-decoration: none !important;
}

@media(hover: hover) and (pointer: fine) {
    body a:hover {
        color: #008f18;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tektur', sans-serif;
    padding: 5px 0;
}

ul {
    list-style-type: none;
}

.shrink-hide {
    height: 0;
    width: 0;
    overflow: hidden;
}

/* dropdown menu toggle buttons */

.menu-toggle-btn {
    font-family: 'Tektur', sans-serif;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* to counter default Bootstrap button behaviour */
.menu-toggle-btn:focus:not(:focus-visible) {
    outline: none !important;
}

@media(hover: hover) and (pointer: fine) {
    .menu-toggle-btn:hover {
        color: #008f18;
    }
}

.menu-toggle-btn span {
    transition: all 0.25s;
}

.menu-icon {
    width: 30px;
    margin-right: 10px;
    padding: 4px 0;
}

.menu-icon span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    display: block;
}

.menu-icon span:nth-of-type(2) {
    margin: 5px 0;
}

.menu-btn-text {
    font-size: 1.25rem;
    padding-top: 5px;
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(2) {
    display: none;
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(1) {
    transform: translateY(2px) rotate(45deg);
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(3) {
    transform: translateY(-2px) rotate(-45deg);
}

.toggle-btn {
    background: transparent;
    color: #fff;
    cursor: pointer;
}

/* general buttons */

button:focus:not(:focus-visible) {
    outline: none !important;
}

.btn {
    font-family: 'Tektur', sans-serif;
    color: rgba(255, 255, 255, 0.75) !important;
}

.btn:focus {
    color: #fff !important;
}

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-darkgrey {
    color: #fff;
    border: 1px solid #0a0a0a;
    background: linear-gradient(135deg, #2c3136, #1d2023);
    width: auto !important;
}

.btn-effect, .btn-effect:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
                -3px -3px 6px rgba(255, 255, 255, 0.15),
                inset 4px 4px 8px rgba(255, 255, 255, 0.2),
                inset -4px -4px 8px rgba(0, 0, 0, 0.7);
}

.btn-effect:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7),
                -3px -3px 6px rgba(255, 255, 255, 0.15),
                inset -4px -4px 8px rgba(255, 255, 255, 0.2),
                inset 4px 4px 8px rgba(0, 0, 0, 0.7);
}

@media(hover: hover) and (pointer: fine) {
    .btn-darkgrey:hover {
        color: #008f18 !important;
    }
}

.btn-darkgrey:focus {
    color: #fff !important;
}

.btn-wide-fit {
    width: auto !important;
}

.more-btn {
    width: 87.5px !important;
    height: 87.5px;
    border-radius: 50%;
}

.more-btn i {
    transition: scale 0.5s ease-in-out;
}

.more-btn.show-less i {
    transform: scale(-1, -1);
}

.link-btn {
    background: transparent;
    text-decoration: underline;
}

/* ------------ main header ----------- */

#main-header {
    background-color: #000;
    height: 140px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;

    display: flex;
    justify-content: center;
}

#main-header a {
    color: #fff;
}

@media(hover: hover) and (pointer: fine) {
    #main-header a:hover {
        color: #008f18;
        text-decoration: none !important;
    }
}

/* header logo */

#header-logo {
    height: 100%;
    margin: 0 10px;
    
    display: flex;
    align-items: center;
}

.logo-size {
    height: 130px;
    width: 130px;
}

#header-logo h1 {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Tektur', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #008f18;
    margin-left: 5px;
}

.logo-txt-std {
    font-size: 3.5rem;
}

.logo-txt-solo {
    font-size: 4rem;
}

#header-logo img, #header-logo h1 {
    transition: all 0.35s ease-in-out;
}

.logo-txt-br, .logo-txt-br-solo {
    display: none;
}

/* header navigation */

#main-menu {
    font-family: 'Tektur', sans-serif;
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-menu a {
    font-weight: 400;
}

#main-menu-btn {
    display: none;
}

.main-menu-responsive {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    background-color: #000;
    text-align: center;
}

.main-menu-responsive ul {
    padding: 20px 0;
    margin: 0;
    border: 0;
}

.main-menu-responsive li {
    display: inline;
    text-align: center;
    padding: 20px 30px;
    margin: 0;
    border: 0;
}

.main-menu-item {
    font-size: 1.25rem;
}

/* navigation dropdown menus */

.navbar-dropdown-btn {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
}

.navbar-dropdown-btn.menu-toggle-btn-active {
    color: #008f18;
}

.navbar-dropdown-menu-container {
    position: relative;
}

.navbar-dropdown-menu {
    border-radius: 0 0 5px 5px;
    background-color: #000;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    width: 205px;
    overflow: hidden;
}

#navbar-services-menu {
    width: 275px;
}

.navbar-dropdown-menu ul {
    padding: 0 0 20px 0;
}

.navbar-dropdown-menu li {
    display: block;
    text-align: left;
    padding: 5px 10px 5px 20px;
}

.navbar-dropdown-item {
    font-size: 1.125rem;
}

.navbar-dropdown-open {
    height: auto;
}

/* active header navigation links */

.active-link {
    color: #008f18 !important;
}

/* -------- main page body -------- */

main {
    margin-top: 207px;
}

@media(hover: none) {
    main a {
        color: #fff !important;
    }

    main a.btn, main button {
        color: #fff !important;
    }
}

.anchor-section {
    scroll-margin-top: 207px;
}

/* page banners */

.banner-container, .mini-banner {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    margin: 0;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
    font-weight: bold;
}

/* accordions */

.accordion a:focus {
    text-decoration: none !important;
}

/* generic section styles */

.white-container {
    background-color: #fff;
    color: #000;
}

.green-container {
    background-color: #008f18;
    /* color: #fff; */
}

/* ------------ footer ------------ */

footer {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'consolas', 'Source Code Pro', sans-serif;
    color: #fff;
}

footer hr {
    /* background-color: #4d4d4d; */
    background-color: #fff;
    width: 90%;
    margin: auto;
}

.footer-contact-social-links {
    color: #fff;
    font-size: 1.5rem;
    list-style-type: none;
    margin-bottom: 0;
    text-align: center;
}

.footer-contact-social-links .link-btn {
    font-size: 1.5rem;
}

.footer-contact-social-links li {
    padding: 1.5rem 0;
}

.footer-contact-social-links i, footer a {
    color: #fff;
}

@media(hover: hover) and (pointer: fine) {
    .footer-contact-social-links i:hover {
        color: #008f18;
    }

    .footer-contact-social-links a:hover {
        text-decoration: none !important;
    }
}

#copyright-statement, #company-plug {
    font-weight: 500;
    text-align: center;
}

#copyright-statement {
    margin-top: 10px;
    font-size: 1rem;
}

#company-plug {
    padding: 5px 0 10px 0;
    font-size: 0.75rem;
}

/* ---------- contact forms ---------- */

.cf-hidden {
    display: none;
}

.g-recaptcha {
    transform-origin: 0 0;
}

.g-recaptcha div {
    margin: 0 auto;
}



            /************************************/
            /*                                  */
            /* --------- Popup modals --------- */
            /*                                  */
            /************************************/

/* footer contact links */

.footer-contact-link-modal {
    height: 90vh;
}

.footer-contact-link-modal .modal-content {
    height: 100%;
    background: linear-gradient(180deg, #0e1011, #2c3136);
    color: #fff;
}

.footer-contact-link-modal .close {
    color: #fff;
    font-size: 3rem;
}

.footer-contact-link-modal .modal-body {
    overflow-y: auto;
}

.footer-contact-link-modal a {
    color: #fff;
    text-decoration: none !important;
}

#modal-phone-no {
    font-size: 1.5rem;
}



            /************************************/
            /*                                  */
            /* --------- Landing page --------- */
            /*                                  */
            /************************************/

/* general styles */

#landing-intro .section-header h2, #landing-projects .section-header h2 {
    color: #008f18;
    font-weight: 400;
}

#landing-banner .banner-els-container {
    position: relative;
}

#landing-banner-img img {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-self: center;
}

#landing-cta-btns {
    position: absolute;
    bottom: 5px;
    left: 0;
}

#landing-banner .btn-cta {
    font-weight: 400;
}

/* intro section */

#landing-intro {
    max-width: 1200px;
    margin: 0 auto;
}

#landing-intro .section-content {
    font-size: 1.25rem;
}

#landing-intro .collapsible  {
    transition: max-height 0.6s ease-in-out,
                margin 0.8s ease-in-out,
                opacity 1s ease-in-out;
}

.intro-foot {
    position: relative;
}

.intro-foot .more-btn-wrap {
    position: absolute;
    bottom: -68.75px;
}

#landing-intro .more-btn {
    font-size: 1.15rem;
    line-height: 1;
    padding: 0 !important;
    margin: 0 auto;
    display: none;
}

#landing-intro .more-btn:active {
    font-size: 1rem;
}

/* projects section */

#landing-projects .section-header p {
    font-size: 1.5rem;
}

.project-scrshot img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.65);
    transition: all 0.5s ease-in-out;
}

@media(hover: hover) and (pointer: fine) {
    .project-scrshot img:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px 10px rgba(255, 255, 255, 0.65);
    }
}

.project-scrshot p {
    font-size: 1.25rem;
}



            /************************************/
            /*                                  */
            /* --------- Media queries -------- */
            /*                                  */
            /************************************/

/* ---------- for responsive design ----------- */

/* for large screens, up to 1200 pixels wide (matches Bootstrap's lg - xl breakpoint) */

@media screen and (max-width: 1200px) {

    /* general bootstrap override */

    .container {
        max-width: none;
        margin: auto;
        padding: 0 30px;
    }
}

/* for medium-large-sized screens, up to 992 pixels wide (matches Bootstrap's md - lg breakpoint) */

@media screen and (max-width: 992px) {

    /* contact page */

    #contact-page-form {
        max-width: 100%;
    }
}

/* for medium-sized screens, up to 768 pixels wide (matches Bootstrap's sm - md breakpoint) */

@media screen and (max-width: 768px) {

    /* main header */

    #main-header {
        justify-content: space-between;
    }

    .logo-txt-std {
        font-size: 2.65rem;
    }

    .logo-txt-solo {
        font-size: 3.5rem;
    }

    /* header navigation menu */

    #main-menu-btn {
        display: flex;
    }
    
    .main-menu-responsive {
        left: auto;
        right: 0;
        width: 100%;
        height: 0;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        transition: all 0.25s;
    }

    .main-menu-responsive ul {
        padding: 5px 0 20px;
        margin-bottom: 0;
    }

    .main-menu-responsive li {
        text-align: left;
        display: block;
        margin-left: 50px;
        padding: 5px 0;
    }

    .main-menu-open {
        height: auto;
    }

    /* navigation dropdown menus */

    .navbar-dropdown-btn {
        padding: 0;
    }

    .navbar-dropdown-menu {
        position: relative;
        top: 0;
        width: 100% !important;
    }

    .navbar-dropdown-menu ul {
        padding: 0;
    }

    .navbar-dropdown-menu li {
        margin-left: 20px;
        padding: 2.5px 0;
    }

    /* main page body */

    main {
        margin-top: 140px;
    }
    
    .anchor-section {
        scroll-margin-top: 140px;
    }
}

/* for smaller-sized screens, up to 576 pixels wide (matches Bootstrap's xs - sm breakpoint) */

@media screen and (max-width: 576px) {

    /* main header */

    .logo-txt-solo {
        font-size: 2.75rem;
    }

    .logo-txt-br {
        display: block;
    }
}

/* for extra-small screens, up to 460 pixels wide */

@media screen and (max-width: 460px) {

    /* main header */

    #header-logo img {
        margin: 15px 0;
    }

    .logo-size {
        height: 110px;
        width: 110px;
    }
    
    .logo-txt-std {
        font-size: 2.5rem;
    }

    .logo-txt-solo {
        font-size: 2rem;
    }

    /* landing page */

    #landing-cta-btns {
        bottom: 0;
    }

    #landing-intro .section-content {
        font-size: 1rem;
    }

    #landing-intro .more-btn {
        display: block;
    }

    #landing-intro .collapsed {
        max-height: 0;
        opacity: 0;
        margin: 0;
        overflow: hidden;
    }

    #landing-intro .expanded {
        max-height: 500px;
        opacity: 1;
    }
}

/* for the smallest screens, up to 359 pixels wide */

@media screen and (max-width: 359px) {

    /* main header */

    .logo-txt-solo {
        font-size: 2.5rem;
    }

    .logo-txt-br-solo {
        display: block;
    }
}